<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.6.0.min.css"/> -->
    <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css"> 
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css">   -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">    
   <style>
    </style>
</head>

<body>

    <div>
        <div>
            <div id="rotel-display"></div>
        </div>
        <div>
            <label for="rotel-source">Source</label>
            <div id="rotel-source"></div>
        </div>
        <div>
            <label for="rotel-tone">Tone</label>
            <div id="rotel-tone"></div>
        </div>
        <div>
            <label for="rotel-mute">Mute</label>
            <div id="rotel-mute"></div>
        </div>
        <div>
            <label for="rotel-volume">Volume</label>
            <div id="rotel-volume"></div>
        </div>
        <div>
            <label for="rotel-balance">Balance</label>
            <div id="rotel-balance"></div>
        </div>
        <div>
            <label for="rotel-bass">Bass</label>
            <div id="rotel-bass"></div>
        </div>
        <div>
            <label for="rotel-treble">Treble</label>
            <div id="rotel-treble"></div>
        </div>
        <div>
            <label for="rotel-power">Power</label>
            <div id="rotel-power"></div>
        </div>
    </div>
    <div hx-get="/rotel/state/init" hx-target="#ws-output" hx-swap="innerHTML" hx-trigger="load"></div>
    <div id="ws-output">
    </div>
</body>

</html>