<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://unpkg.com/htmx.org@1.9.5" 
    integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" 
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>    
</head>
<body>
    <div id="rotel-source">source</div>
    <hr/>
    <div id="rotel-volume">volume</div>
    <hr/>
    <div>
        <label>Sources</label>
        <button hx-get="/rotel/state" hx-trigger="click" hx-target="#rotel-state-manual" >Get state</button>
    </div>
    <div id="rotel-state-manual"></div>

    <button hx-get="/rotel/state/init" hx-target="#ws-output" hx-swap="outerHTML">
        Connect WS
    </button>

    <div id="ws-output">

    </div>    
</body>
</html>
