<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.6.0.min.css"/> -->
    <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css">   -->

    <!-- <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css" type="text/css"> --> 
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.classless.min.css" type="text/css"> --> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">    
   <style>
    </style>
</head>

<body>

    <div>
        <div>
            <div id="rotel-display"></div>
        </div>
        <div>
            <label for="rotel-source">Source</label>
            <input type="select" id="rotel-source" />
        </div>
        <div>
            <label for="rotel-tone">Tone</label>
            <input type="checkbox" id="rotel-tone" />
        </div>
        <div>
            <label for="rotel-mute">Mute</label>
            <input type="checkbox" id="rotel-mute" />
        </div>
        <div>
            <label for="rotel-volume">Volume</label>
            <input type="range" id="rotel-volume" />
        </div>
        <div>
            <label for="rotel-balance">Balance</label>
            <input type="range" id="rotel-balance" />
        </div>
        <div>
            <label for="rotel-bass">Bass</label>
            <input type="range" id="rotel-bass" />
        </div>
        <div>
            <label for="rotel-treble">Treble</label>
            <input type="range" id="rotel-treble" />
        </div>
        <div>
            <label for="rotel-power">Power</label>
            <input type="checkbox" id="rotel-power" />
        </div>
        <div>
            <label for="pulseaudio-sink">Pulseaudio Sink</label>
            <input type="select" id="pulseaudio-sink" />
        </div>

    </div>
    <div hx-get="/web/state/init" hx-target="#ws-output" hx-swap="innerHTML" hx-trigger="load"></div>
    <div id="ws-output">
    </div>
</body>

</html>